{% extends "main.html" %}
{% block content %}

<div class="top">
	<img class="logo-picture" src="/static/logo.png">
	<div class="catalog"></div>
</div><br>

<label for="login"> LOGIN </label><br>
{% if error %}
	<p class=error> Error: {{error}}</p>
{% endif %}
<form action='#' method="post">
	<label for="uname">Username:</label><br>
	<input type="text" name="username" maxlength="20"><br><br>
	<label for="pname">Password:</label><br>
	<input type="password" name="password"><br><br>
	<button type="submit"> Submit </button><br>
</form>
<a href="{{url_for('newUser')}}">
	<p class="newuser">New User?</p>
</a>

	<div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="745910575448-dbmd70r5phfbjabvt3h13u1qecaie4uu.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
	  var x;
          window.location.href = "/";
	  }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>


{% endblock %}